#Lengua
    display: flex
    justify-content: center
    align-items: center
    align-content: center
    text-align: center
    height: 100% !important

    p
        padding-top: 4px
        font-size: 19px
    #nav

        #primero,#segundo,#tercero,#cuarto
            .component
                margin-right: auto !important
                margin-left: auto !important
                width: 100% !important
                height: 31% !important
            .circulo, .cuadrado2
                margin-right: auto !important
                margin-left: auto !important
                -moz-border-radius: 50%
                -webkit-border-radius: 50%
                border-radius: 50%
                background: #5cb85c
                width: 80px
                height: 80px

        #segundo,#tercero,#cuarto
            .circulo, .cuadrado2
                margin-top: 30px  !important

        #segundo,#tercero
            display: inline-flex

        #segundo
            #circulo2
                margin-left: 25px !important

        #tercero
            #circulo3
                margin-left: 25px !important
                margin-right: 25px !important

@media (min-width: 768px)
    #Lengua
        .circulo
            width: 140px !important
            height: 140px !important

@media (min-width: 1024px)
    #Lengua
        p
            font-size: 20px !important
        .circulo
            width: 150px !important
            height: 150px !important

@media (min-width: 1440px)
    #Lengua
        p
            font-size: 22px !important
        .circulo
            width: 170px !important
            height: 170px !important

@media (min-width: 2560px)
    #Lengua
        p
            font-size: 40px !important
        .circulo
            width: 330px !important
            height: 330px !important
